@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inknut+Antiqua:wght@400&display=swap");

.navbar-custom {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: linear-gradient(
    to right,
    rgba(0, 120, 60, 1) 0%,
    rgba(1, 158, 108, 0.9) 10%,
    rgba(30, 190, 155, 0.7) 25%,
    rgba(75, 210, 225, 0.5) 50%,
    rgba(70, 152, 214, 0.75) 80%,
    rgba(51, 144, 215, 0.95) 100%
  );
  backdrop-filter: blur(6px);
  padding: 12px 0;
  transition: background 0.4s ease;
}

.navbar-custom.scrolled {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
}

.navbar-custom .nav-link {
  color: #fff;
  font-weight: 500;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #f9d342;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.login-text {
  color: #fff;
  text-decoration: none;
}
.login-text:hover {
  color: #f9d342;
}

/* Banner đầu tiên (Welcome to Đà Nẵng) */
.top {
  position: relative;
  margin-top: 0px;
  width: 100%;
  overflow: hidden;
}









